version: '3'

services:
  twitter:
    build:
      context: ./twitter
      dockerfile: Dockerfile
    volumes:
      - ./twitter/:/twitter/
      - /var/run/docker.sock:/var/run/docker.sock
    command: uvicorn server:app --reload --workers 1 --host 0.0.0.0 --port 8080
    env_file:
      - .env
    ports:
      - 8080:8080
    depends_on:
      - db
    restart: "on-failure"

  db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - 5433:5432
    restart: "on-failure"
  
  redis:
    image: "redis:latest"
    expose:
      - 6379
    working_dir: /data
    volumes:
      - redis_data:/data
    restart: "on-failure"

volumes:
    postgres_data:
    redis_data:
